.input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
}

.tooltip {
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin-top: -16px;
}