.point {
    width: 100%;
    min-height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 10px;
    margin-bottom: 2px;
    background-color: dodgerblue;
    color: white;
    cursor: move;
}

.point.gu-transit {
    background-color: rgba(30, 144, 255, 0.6);
}

.gu-mirror {
    display: none;
}

.pointName {
    cursor: move;
}

.fas.fa-times:hover {
    color: #ffd754;
    cursor: default;
}